<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="Categories" type="XService.Configuration.ConfigXml, XService.Net2" />
    </configSections>

    <appSettings>
        <!-- 
        <add key="Filename" value="C:\Users\Dmitr\Dropbox\kvartira\revision-2021-2024\richtown-revision-2021-2024-ok1.xlsx" />
        -->
        <add key="Filename" value="W:\cloud\GoogleDrive\RichTown\Revision-2026\data\SourceData.xlsx" />

        <add key="WorksheetName" value="СВОДНАЯ" />
        <add key="AppVisible" value="true" />
        <add key="AddDetalization" value="true" />
        <add key="UseBackgroundWorker" value="true" />

        <add key="AgentNameColumn" value="7" />
        <add key="DataStartRow" value="15" />
        <add key="MaxRows" value="0" />
    </appSettings>

    <system.diagnostics>
        <switches>
            <add name="TraceLevel" value="4"/>
        </switches>
        <trace autoflush="true">
            <listeners>
                <add name="defaultLogger" type="System.Diagnostics.AdvancedTraceListener, XService.Net2"
                     initializeData="$OsbbRev2-.log;LinePrefix=${TID};TimeRouteFilenamePattern=yyyyMMdd;CleanupOlderThan=7days"/>
                <add name="uiLogger" type="System.Diagnostics.CallbackTraceListener, XService.Net2"/>
            </listeners>
        </trace>
    </system.diagnostics>

    <!-- =========================================================== -->

    <!--
    Описание - как классифицировать банковские транзакции.
    Классифицирование определяется через категории - каждая категория описанно в <Category .../> элементе.
    Категория имеет:
      * атрибут "caption" - заголовок
      * атрибут "accountNo" - номер счета (если не указано, по умолчнию - категория использует все номера счетов)
      * набор <Pattern .../> элементов описывающих текстовые шаблоны как идентифицировать транзакцию
        - внутри <Pattern> можно использовать атрибуты:
          + startsWith, contains, endsWith, rexp - как сопоставлять текст 
          * field - какое поле транзации использовать, одно из: Description(назначение платежа), CounterParty(контрагент)
      * можно использовать <NotPattern .../> - это будет то же самое что <Pattern exclude="true" ... />
        исключающий-шаблон определяет - в каких случаях нужно исключить транзакцию из категории
          
    В элементе <Categories .../> можно определить следующие атрибуты 
    определяющие номера колонок в листе Excel из которых будут извлекаться данные
    (атрибуты даны с их значениями по умолчению):
      idx_AccountNo=1, idx_Date=3, idx_Time=4, idx_Money=5, idx_Description=7, idx_CouterParty=9
          
  -->

    <Categories
       idx_AccountNo="1"
       idx_Date="3"
       idx_Time="4"
       idx_Money="5"
       idx_Description="7"
       idx_CouterParty="9" >

        <Filter accounts="6548" />

        <Category caption="Платежи">
            <Pattern startsWith="{pay}" />
            <Pattern startsWith="Оплата згiдно реєстру" />
        </Category>

        <Category caption="Электричество">
            <Pattern startsWith="Оплата за активну електроенергiю" />
            <Pattern startsWith="Оплата за електроенергiю" />
            <Pattern startsWith="Оплата за  електроенергiю" />
            <Pattern contains="перетiкання реактивної електроен" />
            <Pattern contains="за активну електроенер" />
            <Pattern contains="КИIВСЬКА ОБЛАСНА ЕК" field="CounterParty" />
            <Pattern contains="КИЇВСЬКI РЕГIОНАЛЬНI ЕЛЕКТРОМЕРЕЖ" field="CounterParty" />            
        </Category>

        <Category caption="Благодiйнi внески">
            <Pattern contains="Благодiйний внесок" />
            <Pattern contains="{charity}" />
        </Category>

        <Category caption="За вивiз ТПВ">
            <Pattern contains="вивiз ТПВ" />
            <Pattern contains="послугу з вивезення побутових вiдходiв" />
            <Pattern contains="вивiз побутового смiття" />
            <Pattern contains="вивезення будiвельних вiдходiв" />
            <Pattern contains="вивiз твердих побутових вiдходiв" />
            <Pattern contains="твердих побутових вiдходiв" />
            <Pattern rexp=".*смiття.*|.*вiдходiв.*" />
            <Pattern contains="ЕКОСЕРВIС ГРУП-ТБО ТОВ" field="CounterParty" />
        </Category>

        <Category caption="Лифты">
            <Pattern startsWith='АТ, ПРАТ "ОТIС"' field="CounterParty" />
            <!--
            <Pattern startsWith="ЗА ТЕХНИЧНЕ ОБСЛУГОВУВАННЯ ТА РЕМОНТ ЛIФТIВ" />
            <Pattern startsWith="ЗА ТЕХНИЧНЕ ОБСЛУГОВУВАННЯ  ЛIФТIВ" />
            <Pattern startsWith="За технiчне обслуговування та ремонт диспетчерських систем" />
            -->
        </Category>

        <Category caption="Глава ОСББ">
            <Pattern contains="Iльїнов Микола" field="CounterParty"/>
            <NotPattern startsWith="{pay}" />
            <NotPattern contains="{charity}" />
        </Category>

        <Category caption="Смешкова">
            <Pattern contains="СМЄШКОВА КАТЕРИНА" field="CounterParty"/>
        </Category>

        <Category caption="Депозиты">
            <Pattern startsWith="Нарахування вiдсоткiв" />
            <Pattern startsWith="Виплата вiдсоткiв" />
            <Pattern startsWith="Перерахування коштiв на депозит" />
            <Pattern startsWith="Повернення коштiв згiдно договору про депозит" />
            <Pattern contains="згiдно депозитного договору" />            
        </Category>

        <Category caption="Общая Комуналка">
            <Pattern startsWith="АБОНЕНТСЬКА ПЛАТА ЗА ДОСТУП ДО МЕРЕЖI IНТЕРНЕТ" />
            <Pattern contains="Компенсацiя вартостi використаної електроенергiї насосної установки" />
            <Pattern contains="ОСМД, РIЧ ТАУН ЗАХIДНА-4" field="CounterParty" />            
        </Category>

        <Category caption="Доход ОСББ">
            <Pattern contains="ПРАВО РОЗМIЩЕННЯ ТЕХ" />
            <Pattern contains="право розмiщення технiчних" />
            <Pattern contains="за встановлення доступ" />            
            <Pattern contains="IРПIНСЬКI ЛОКАЛЬНI МЕРЕЖI" field="CounterParty" />
            <Pattern contains="ФОП КОВТУН ОЛЕКСАНДР МИКОЛАЙОВИЧ" field="CounterParty" />
            <Pattern contains="ЄВРОУКРСIТIГРIН" field="CounterParty" />            
        </Category>

        <Category caption="Гранты">
            <Pattern contains="ФОНД ЕНЕРГОЕФЕКТИВНОСТ" field="CounterParty" />
            <Pattern contains="Фонд енергоефективност" field="CounterParty" />            
        </Category>

        <Category caption="Услуги">
            <Pattern logic="OR">
                <Pattern>
                    <Pattern contains="послуги.*згiдно.*договор" />
                    <Pattern contains="ФОП" field="CounterParty" />
                    <NotPattern rexp=".*смiття.*|.*вiдходiв.*" />
                </Pattern>
                <Pattern>
                    <Pattern rexp=".*технiчний.*нагляд.*" />
                    <Pattern contains="ФОП" field="CounterParty" />
                </Pattern>
                <Pattern>
                    <Pattern rexp="плата\s+за.*згiдно.*рахунку.*" />
                    <Pattern contains="ФОП" field="CounterParty" />
                </Pattern>                
            </Pattern>
        </Category>

        <Category caption="Комiсiя">
            <Pattern startsWith="Комiсiя" />
        </Category>
        
        <Category caption="Штрафы и санкции">
            <Pattern contains="за штрафны санк" />
            <Pattern contains="штрафних санкц" />            
        </Category>        

        <Category caption="Нераспознанное">
        </Category>

    </Categories>

    <!-- =========================================================== -->

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>