<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="XService.Net2" version="2023.4.23.2029" targetFramework="net472" />
  <package id="XService.UI" version="2023.6.15.1629" targetFramework="net472" />
</packages>