# Visual Studio temp files
**/bin
**/obj
**/.vs
*.suo
*.obj
*.lib
*.exp

**/packages

**/debug
**/release
**/log
**/logs

*.dll
*.exe
*.rsm

*.dcu
*.~*

**/hw-read
**/printouts

**/cmake/CMakeFiles
**/cmake/CMakeCache.txt
**/cmake/cmake_install.cmake
**/cmake/*.vcxproj
**/cmake/*.vcxproj.filters
**/cmake/*.sln

**/barcodes-dll/commons
**/barcodes-dll/commons.dd

*.vcxproj.user

**/cmake/DDtemplates

*.7z
