<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="cli:input" value="My+Wiki.xml" />

    <!-- add key="cli:url" value="http://localhost:8080/w" /-->
    <add key="cli:url" value="https://172.24.24.158" />

    <add key="cli:wiki-user" value="dmitrybond" />
    <add key="cli:wiki-password" value="Forget123" />

  </appSettings>
  
  <system.diagnostics>
    <switches>
      <add name="TraceLevel" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <clear/>
        <!-- add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ImportWiki.log" /-->
        <add name="defaultLogger" type="System.Diagnostics.AdvancedTraceListener, XService.Net2"
             initializeData="%TEMP%\$$(AppName)_.log;LinePrefix=${TID};TimeRouteFilenamePattern=yyyyMMdd;CleanupOlderThan=7days"/>
        <add name="consoleLogger" type="System.Diagnostics.ConsoleTraceListener, XService.Net2"/>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>