<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>

        <!-- add key="UrlReservedChars" value="!#$&amp;&apos;()*+,/:;=?@[]" / -->

        <!--
        <add key="Wiki.BaseUrl" value="http://localhost:8080/w" />
        <add key="Wiki.Username" value="dmitrybond" />
        <add key="Wiki.Password" value="Forget1234" />
        -->
        <add key="Wiki.IsNewVersion" value="true" />


        <add key="cli:input" value="My+Wiki.xml" />

        <add key="cli:url" value="http://btoDevVm2019-bld:8080/w" />
        <!-- add key="cli:url" value="https://172.24.24.158" / -->

        <add key="cli:wiki-user" value="dbondare" />
        <add key="cli:wiki-password" value="Forget1234" />

        <add key="cli:exclude-pages-list" value="excludedPages.txt" />
        <add key="cli:replacer" value="replacer.txt" />

        <add key="cli:skip" value="133" />
        <add key="cli:count" value="20" />

    </appSettings>

    <system.diagnostics>
        <switches>
            <add name="TraceLevel" value="4"/>
        </switches>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <clear/>
                <!-- add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="ImportWiki.log" /-->
                <add name="defaultLogger" type="System.Diagnostics.AdvancedTraceListener, XService.Net2"
                     initializeData="%TEMP%\$$(AppName)_.log;LinePrefix=${TID};TimeRouteFilenamePattern=yyyyMMdd;CleanupOlderThan=7days"/>
                <add name="consoleLogger" type="System.Diagnostics.ConsoleTraceListener, XService.Net2"/>
                <remove name="Default" />
            </listeners>
        </trace>
    </system.diagnostics>

</configuration>