<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="UsefulLinks" type="XService.Configuration.IniParameters, XService.Net2"/>
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

    <!-- 
    How to register ADO.NET provider:
        https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/obtaining-a-dbproviderfactory
    -->
    <system.data>
        <DbProviderFactories>
            <add name="SQLite Data Provider" invariant="System.Data.SQLite" description="ADO.NET Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data, Version=1.0.110.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
        </DbProviderFactories>
    </system.data>

    <connectionStrings>
        <add name="SourceDB" providerName="System.Data.SqlClient" connectionString="Server=(local)\SqlExpress; Database=LogFacts; User Id=sa; Password=F14tLux;"/>
        <add name="LocalDB" providerName="System.Data.SQLite.Core" connectionString="Data Source=LogFacts.sqlite;Version=3;"/>
    </connectionStrings>

    <system.diagnostics>
        <switches>
            <add name="TraceLevel" value="4"/>
        </switches>
        <trace autoflush="true">
            <listeners>
                <add name="defaultLogger" type="System.Diagnostics.AdvancedTraceListener, XService.Net2" initializeData="%TEMP%\$LogFactsExtractor4-.log;LinePrefix=${TID};TimeRouteFilenamePattern=yyyyMMdd;CleanupOlderThan=7days"/>
                <add name="uiLogger" type="System.Diagnostics.CallbackTraceListener, XService.Net2"/>
            </listeners>
        </trace>
    </system.diagnostics>

    <appSettings>
        <add key="x" value="1"/>
    </appSettings>

    <UsefulLinks caseSensitive="true">
        SQLite Home = https://www.sqlite.org/index.html
        About SQLite (wikipedia) = https://en.wikipedia.org/wiki/SQLite
        SQLite Tutorial = https://www.tutorialspoint.com/sqlite/index.htm
        SQLite Browser application = https://sqlitebrowser.org/
        What is SQLite = https://www.sqlitetutorial.net/what-is-sqlite/
    </UsefulLinks>

</configuration>
