<?xml version="1.0"?>
<configuration>

    <configSections>
    </configSections>
    
    <appSettings>
      <add key="CLI:Input" value="C:\Temp\reestry\" />
      <!-- add key="CLI:UI" value="1" / -->
      <!-- add key="CLI:Pause" value="end" / -->
      <!-- add key="CLI:Output" value="-db,excel" / -->
    </appSettings>
    
    <system.diagnostics>
        <switches>
          <add name="TraceLevel" value="4"/>
          <add name="DacService" value="3"/>
          <add name="XService" value="2"/>
        </switches>
        <trace autoflush="true">
            <listeners>
                <add name="defaultLogger" type="System.Diagnostics.AdvancedTraceListener, XService.Net2" 
                     initializeData="$$(AppName)_.log;LinePrefix=${TID};TimeRouteFilenamePattern=yyyyMMdd;CleanupOlderThan=7days"/>
                <add name="consoleLogger" type="System.Diagnostics.ConsoleTraceListener, XService.Net2"/>
            </listeners>
        </trace>
    </system.diagnostics>

    <!-- startup><supportedRuntime version="v2.0.50727"/></startup -->
    
</configuration>
